---
import projects from "../collections/projects.json";
import PageHeading from "../components/page-heading.astro";
import Project from "../components/project.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="我的项目">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="我的项目"
      description="这是我目前正在进行的一些项目。我非常喜欢创建新项目和提出新想法。我总是在做一些新的东西，所以请经常回来看看！"
    />

    <div
      class="z-50 grid items-stretch w-full grid-cols-1 my-8 gap-7 sm:gap-5 sm:grid-cols-2"
    >
      {
        projects.map((project) => {
          return (
            <Project
              name={project.name}
              description={project.summary}
              image={project.image}
              url={project.url}
            />
          )
        })
      }
    </div>
  </section>
</Layout>
